*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
} 


.green-bar{
    height: 10vh;
    background-color:#009688 ;
}

.container{
    background-color: #d9dbd4;
    display: flex;
    justify-content: center;
    height: 90vh;
}

.chat-container{
  display: flex;
  flex-direction: row;
  
  margin: 2rem 4rem;
   height: 92vh;
   width: 80vw;
  
   position: absolute;
  top: 0.7px;
}

.sidebar{
    width: 30%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.sidebar-top{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
    height: 3.5rem;
    align-items: center;
    vertical-align: middle;
    border-right: solid 1px #e1e1e1;
}

.notifiche{
    height: 4rem ;
    background-color:#8edafc ;
}

.ricerca{
    height: 2.5rem;
    background-color: #ffffff;
    border-bottom: solid 0.8px #e1e1e1;
}



.chat-top{
    background-color: white;
    height: 3.5rem;
    width: 48.5rem;
}

.chat-content{
   display: flex;
   flex-direction: column;
    background-image:url(../img/mine.jpg) ;
    height: 47rem;
    overflow-y:auto;
    background-size:auto;
}
.chat-footer{
    height: 4rem;
    background-color: white;
}

.avatar{
    height: 3rem;
    width: 3rem;
    border-radius:50%;
}
.img-center{
 display: flex;
    
    align-items: center;
}

.sidebar-icons{
    color: #b1b1b1;
    
}
.sidebar-icons i{
    padding: 0.4rem;
}


.notifiche{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notifiche span{
    display: flex;
    flex-direction: row;
 
    align-items: center;
}

.circle{
    border-radius:50% ;

}
.notifiche p{
    color:#3f564d ;
    font-size: 0.9rem;
}

.campanella{
    background-color: white;
    color: #8fdafc;
    font-size: 1rem;
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    align-items: center;
    justify-content: center;
    margin: 0.3rem 0.5rem 0rem 0.5rem;
}

.notifiche a{
    padding-left: 3.5rem;
    font-size: 0.8rem;
    padding-bottom: 1rem;
    display: flex;
    position: absolute;
    top: 5.7rem;
    color: #618698;

}

.ricerca input{
    width: 12rem;
    border:0px;
   
    
}

.ricerca i{
    padding: 0.8rem;
    color: #b4b7b8;
    
}

.chat-preview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 0.8px #e1e1e1;
    overflow-y:auto;
    
}

.info{
   
    display: flex;
    flex-direction: row;
}

.sidebar .info{
    margin: 0.3rem ;
}

.last-message{
    color:#d6d2cd;
    font-size: 0.8rem;
}

.ora{
    font-size: 0.6rem;
    color: #cacbce;


}

.info span{
    margin-left: 0.5rem;
}

.chat .info{
    padding: 0.2rem;
}

.chat-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.chat-top i{
    padding: 1rem 0.5rem;
    color: #c3bfba;
}

.chat-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-left: solid 0.8px #e1e1e1;
}
.chat-footer input{
    height: 1.5rem;
    width: 30rem;
   border: 0;
}
.chat-footer i{
    color: #758085;
    padding: 0rem 1rem;
    font-size: 1.3rem;
}


.mandato{
    display: flex;
    align-self: end;
    
    flex-direction: column;
    background-color:#d5f9ba ;
    width: 17rem;
  padding: 0.8rem;
    border-radius: 0.6rem;
    margin: 2rem;
    
    
}

.ricevuto{
    display: flex;
    align-self: start;
    
    flex-direction: column;
    background-color:white ;
    width: 17rem;
  padding: 0.8rem;
    border-radius: 0.6rem;
    margin: 2rem;

}






.ora-messaggio{
   display: flex;
    align-self: flex-end;
    font-size: 0.7rem;
    color: #c6d4ba;
}