*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} 


.green-bar{
    height: 10vh;
    background-color:#009688 ;
}

.container{
    background-color: #d9dbd4;
    display: flex;
    justify-content: center;
    height: 90vh;
}

.chat-container{
  display: flex;
  flex-direction: row;
  
  margin: 2rem 4rem;
   height: 92vh;
   width: 80vw;
  
   position: absolute;
  top: 0.7px;
}

.sidebar{
    width: 30%;
    height: 100%;
    background-color: white;
}

.sidebar-top{
   
    height: 3.5rem;
}

.notifiche{
    height: 4rem ;
    background-color:#8edafc ;
}

.ricerca{
    height: 2.5rem;
    background-color: red;
}



.chat-top{
    background-color: white;
    height: 3.5rem;
    width: 48.5rem;
}

.chat-content{
    background-image:url(../img/mine.jpg) ;
    height: 47rem;
    
    background-size: cover;
}
.chat-footer{
    height: 4rem;
    background-color: white;
}