<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    
    <title>Boolzapp</title>
</head>
<body>
  
   <main>
<section class="green-bar"></section>

    <article class="container" id="app">
    
    <section class="chat-container">
        <div class="sidebar" >
            <div class="sidebar-top"><span>
                
               <span class="img-center"> <img src="./img/avatar_io.jpg" class="avatar"> 
                Sofia</span>
            </span>
            <span class="sidebar-icons">
                <i class="fa-solid fa-circle-notch"></i>
                <i class="fa-solid fa-message"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i></span>
            </div>
            <div class="notifiche">
                
                <span>
                    <span class="circle campanella">
                        <i class="fa-solid fa-bell-slash"></i>
                    </span>
                <p>Ricevi notifiche di nuovi messaggi</p>
                    </span>
                <span><a href="">Attiva notifiche desktop</a></span>
                
                <p></p>
            
            </div>
            <div class="ricerca">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" class="search" placeholder="Cerca o inizia una nuova chat">
            </div>
        <div class="chat-preview "v-for="(contact,i) in  contacts" ::key="i"
                            
      
      >
      
        <div v-for="(items, index) in contact.messages" :key="index">
           
            <span class="info" v-if="index===LastMessage"><img class="avatar" :src="contacts[i].avatar"   > <span>
             <span v-if="index===LastMessage"><p>{{contact.name}}</p>
                                <p class="last-message" >{{items.message}}</p> </span>   </span>      
            <span class="ora" v-if="index===LastMessage">{{items.date}}</span>
        
      </div>  </div>
        
        </div>
        <div class="chat">
            <div class="chat-top">
                <span class="info"><img src="./img/avatar_1.jpg" class="avatar">
                    <span><p>Michele</p>
                                       <p class="last-message">Ultimo accesso oggi alle 12.00</p> </span>   </span> 


                                       <span><i class="fa-solid fa-magnifying-glass"></i>
                                        <i class="fa-solid fa-paperclip"></i>
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </span>



            </div>
            <div class="chat-content"  >
               
               
               
             
               <div    v-for="(item, index) in contacts" ::key="index" >
               
                <div class="flex-chat" v-if="index===CurrentChat" 
                >
                    
                <div v-for="(message,i) in item.messages" :key="i"
                 :class="(message.status === 'sent') ? 'mandato':'ricevuto'"
                           >
                
                <span>{{message.message}}</span>
                    <span class="ora-messaggio">{{message.date}}</span>
              </div>  </div>
                
</div>









            </div>
             <div class="chat-footer"><i class="fa-regular fa-face-smile"></i>
                    <input type="text" placeholder="Scrivi un messaggio">
                    <i class="fa-solid fa-microphone"></i>
            
            </div>        
        </div>
    </section></article>
   </main>
   
   
   
   
   
   
   
   
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src=" https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js "></script>
    <script  src="./JS/script.js"></script>
</body>
</html>